/* fuentes */
/* ----------------------------------------------------------------------------------------------- */
@font-face {
    font-family: spacegrotesk;
    src: url(./fonts/WOFF2/SpaceGrotesk-Bold.woff2) format("woff2"),
        url(./fonts/WOFF/spacegrotesk-bold-webfont.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: spacegrotesk;
    src: url(./fonts/WOFF2/SpaceGrotesk-Light.woff2) format("woff2"),
        url(./fonts/WOFF/spacegrotesk-light-webfont.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: spacegrotesk;
    src: url(./fonts/WOFF2/SpaceGrotesk-Medium.woff2) format("woff2"),
        url(./fonts/WOFF/spacegrotesk-medium-webfont.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: spacegrotesk;
    src: url(./fonts/WOFF2/SpaceGrotesk-Regular.woff2) format("woff2"),
        url(./fonts/WOFF/spacegrotesk-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
/* ----------------------------------------------------------------------------------------------- */

/* Estilos globales */
/* ----------------------------------------------------------------------------------------------- */

html {
    --sidePanelBGColor: #9c65f3;
    --mainAreaBGColor: #e0cdfe;
    --sectionTittleColor: #270f4f;
    --cardTypeColor: #4d2b85;
    --pokemonCardBoxShadowColor: #887d9e;
    --itemCardBorderColor: #95b5d2;
    --itemQuantityColor: #6a00ff;
    --pokemonCardBGcolor: white;
    --itemCardBGColor: white;
    --nearbyCardBGColor: white;
    --asideBGColor: #0000007a;
    --githubTitleColor: var(--sectionTittleColor);
    --menuButtonSize: clamp(25px, 21.6666666667px + 1.0416666666666665vw, 30px);
    --homeLogoSize: clamp(30px, 26.6666666667px + 1.0416666666666665vw, 35px);
    --homeTitleFontSize: clamp(0.9375rem, 0.7291666666666667rem + 1.0416666666666665vw, 1.25rem);
    --homeLinkGap: 6.54px;
    --avatarMobilePictureSize: calc(var(--menuButtonSize) * (22.5 / 25));
    --mobileTopButtonsGap: 10px;
    --headerPadding: 0.6666666666666666em;
    --headerGap: 15px;
    --sectionTitleFontSize: 1.25rem;
    --sectionTitlePadding: 1.25em;
    --pokemonImgSize: calc((62.12 / 137.5) * 100 * 1cqw);
    --cardTitleFontSize: calc((10 / 137.5) * 100 * 1cqw);
    --cardTypeFontSize: calc((8.5 / 137.5) * 100 * 1cqw);
    --statGroupsWidth: calc(100cqw / 3);
    --statGroupsHeight: calc((20 / 137.5) * 100 * 1cqw);
    --pokemonCardGap: 0.29411764705882354em;
    --pokemonCardBorderRadius: 7.27357365221%;
    --pokemonCardBoxShadowLength: calc((2.5 / 137.5) * 100 * 1cqw);
    --statGroupSeparatorWidth: 3.27310814349%;
    --statGroupSeparatorHeight: 100%;
    --pokemonContentAreaGap: 15px;
    --pokemonCardBaseWidth: 8.59375rem;
    --halfContentAreaPadding: calc(var(--pokemonContentAreaGap) / 2);
    --itemCardBorderRadiusHorizontal: calc((5 / 135.5) * 100 * 1%);
    --itemCardBorderRadiusVertical: calc((5 / 32.359) * 100 * 1%);
    --itemCardImageSpacer: calc((2.19 / 135.5) * 100 * 1%);
    --itemCardBorderWidth: 1px;
    --itemTitleFontSize: calc((10 / 135.5) * 100 * 1cqw);
    --itemImageWidth: calc((30 / 135.5) * 100 * 1%);
    --nearbyCardBorderRadiusHorizontal: calc((10 / 135.5) * 100 * 1%);
    --nearbyCardBorderRadiusVertical: calc((10 / 66.76) * 100 * 1%);
    --nearbyImgWidth: calc((50 / 135.5) * 100 * 1%);
    --nearbyImgSpacer: calc((9.38 / 135.5) * 100 * 1%);
    --nearbyTitleFontSize: calc((10 / 135.5) * 100 * 1cqw);
    --nearbyDistanceFontSize: calc((8 / 135.5) * 100 * 1cqw);
    --nearbyDistanceIconSize: calc((8.33 / 135.5) * 100 * 1cqw);
    --githubTitleFontSize: clamp(0.821875rem, 0.32812500000000006rem + 2.4687499999999996vw, 1.5625rem);
    --githubLinkIconSize: 1.6798479087452471em;
    --githubLinkPadding: 2.3163498098859314em;
    --asideMenuContainerFontSize: clamp(0.821875rem, 0.6135416666666668rem + 1.0416666666666663vw, 1.134375rem);
    --asideMenuContainerPadding: 1.1634980988593155em 1.1634980988593155em 0px 3.2091254752851714em;
    --returnButtonSize: 1.1634980988593155em;
    --asideButtonContainerGap: 1.1406844106463878em;
    --asideButtonsGap: 0.7604562737642585em;
    --asideButtonsIconSize: 1.6798479087452471em;
    font-size: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0rem;
    font-family: spacegrotesk, Arial, Verdana, Tahoma, "Trebuchet MS";
    text-decoration: none;
    border-style: none;
}

.hide {
    display: none;
}

body {
    background-color: var(--mainAreaBGColor);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        "header"
        "main"
        "footer";
    position: relative;
}
/* ----------------------------------------------------------------------------------------------- */

/* header */
/* ----------------------------------------------------------------------------------------------- */

header {
    font-size: var(--homeTitleFontSize);
    padding-block: var(--headerPadding);
    grid-area: header;
    background-color: var(--sidePanelBGColor);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:
        var(--headerGap) max-content var(--headerGap) max-content 1fr max-content
        var(--headerGap);
    grid-template-areas: ". menu . home . topIcons .";
    align-items: center;
}

.menuButtons {
    width: var(--menuButtonSize);
    height: var(--menuButtonSize);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: inherit;
    cursor: pointer;
}

#menuButton {
    background-image: url("./img/menu.svg");
    grid-area: menu;
}

#leftHeaderContainer {
    font-size: var(--homeTitleFontSize);
    grid-area: home;
}

#homeLink {
    font-size: inherit;
    display: inline-flex;
    flex-direction: row;
    gap: var(--homeLinkGap);
    align-items: center;
}

#homeLogo {
    width: var(--homeLogoSize);
    height: var(--homeLogoSize);
}

#homeTitle {
    font-size: inherit;
    font-weight: 700;
    color: white;
}

#rightHeaderContainer {
    grid-area: topIcons;
}

#mobileTopButtons {
    display: inline-flex;
    flex-direction: row;
    gap: var(--mobileTopButtonsGap);
}

#searchButton {
    background-image: url("./img/search.svg");
}

#notificationButton {
    background-image: url("./img/notification.svg");
}

#avatarMobileContainer {
    display: inline-flex;
    width: var(--menuButtonSize);
    height: var(--menuButtonSize);
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

#avatarMobilePicture {
    width: var(--avatarMobilePictureSize);
    height: var(--avatarMobilePictureSize);
}

/* ----------------------------------------------------------------------------------------------- */

/* main */
/* ----------------------------------------------------------------------------------------------- */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr max-content 1fr max-content;
    grid-template-areas:
        ". ."
        "pokemonArea pokemonArea"
        ". ."
        "itemArea nearbyArea";
}

.mainSections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
        "top"
        "bottom";
}

.titleArea {
    grid-area: top;
    font-size: var(--sectionTitleFontSize);
}

.titleArea.containerQ {
    container-type: inline-size;
    container-name: containerQ;
}

.contentArea {
    grid-area: bottom;
}

.sectionTitle {
    font-size: inherit;
    font-weight: 700;
    color: var(--sectionTittleColor);
    padding-top: var(--sectionTitlePadding);
    padding-left: var(--sectionTitlePadding);
}

.sectionTitle span {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.columnTitle {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@container containerQ (min-width:20ch) {
    .columnTitle {
        flex-direction: row;
        column-gap: 0.5ch;
        justify-content: center;
    }
}

#pokemonSection {
    grid-area: pokemonArea;
}

#pokemonContentArea {
    display: grid;
    padding: var(--pokemonContentAreaGap);
    grid-template-columns: repeat(auto-fit, minmax(var(--pokemonCardBaseWidth), 1fr));
    grid-auto-rows: max-content;
    gap: var(--pokemonContentAreaGap);
}

.pokemonCard {
    aspect-ratio: 1;
    border-radius: var(--pokemonCardBorderRadius);
    background-color: var(--pokemonCardBGcolor);
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
        "top"
        "center"
        "bottom";
    row-gap: var(--pokemonCardGap);
    justify-items: center;
    align-content: center;
    justify-content: center;
    container-type: inline-size;
    container-name: pokemonCard;
    position: relative;
}

.pokemonCard::before {
    content: "";
    border-radius: var(--pokemonCardBorderRadius);
    position: absolute;
    width: 100%;
    height: 100%;
}

.topContainer {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTitle {
    font-weight: 700;
    color: var(--sectionTittleColor);
}

.cardType {
    font-weight: 500;
    color: var(--cardTypeColor);
}

.pokemonImg {
    grid-area: center;
}

.bottomContainer {
    grid-area: bottom;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left center right";
}
.statGroups {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.statTitle,
.statValue {
    font-weight: 500;
    color: var(--cardTypeColor);
}
.hpGroup {
    grid-area: left;
}

.hpGroup::after,
.attackGroup::after {
    content: "";
    width: var(--statGroupSeparatorWidth);
    height: var(--statGroupSeparatorHeight);
    position: absolute;
    background-color: var(--pokemonCardBoxShadowColor);
    left: 100%;
    transform: translateX(-50%);
}

.attackGroup {
    grid-area: center;
}

.defenseGroup {
    grid-area: right;
}

@container pokemonCard (min-width: 1px) {
    .cardTitle {
        font-size: var(--cardTitleFontSize);
    }

    .cardType,
    .statTitle,
    .statValue {
        font-size: var(--cardTypeFontSize);
    }

    .pokemonImg {
        width: var(--pokemonImgSize);
        height: var(--pokemonImgSize);
    }

    .statGroups {
        width: var(--statGroupsWidth);
        height: var(--statGroupsHeight);
    }

    .pokemonCard::before {
        box-shadow: var(--pokemonCardBoxShadowLength) var(--pokemonCardBoxShadowLength)
            var(--pokemonCardBoxShadowLength) 0px var(--pokemonCardBoxShadowColor);
    }
}

#itemSection {
    grid-area: itemArea;
}

.halfContentAreas {
    padding: var(--pokemonContentAreaGap);
    padding-bottom: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--pokemonCardBaseWidth), 1fr));
    grid-auto-rows: max-content;
}

#itemContentArea {
    padding-right: var(--halfContentAreaPadding);
}

.itemCard {
    aspect-ratio: 137.5 / 34.37;
    border-radius: var(--itemCardBorderRadiusHorizontal) / var(--itemCardBorderRadiusVertical);
    display: inline-grid;
    grid-template-columns:
        1fr max-content 1fr var(--itemImageWidth)
        var(--itemCardImageSpacer);
    grid-template-rows: max-content;
    grid-template-areas: ". text . image .";
    background-color: var(--itemCardBGColor);
    border: var(--itemCardBorderWidth) solid var(--itemCardBorderColor);
    align-content: center;
    align-items: center;
    container-type: size;
    container-name: itemCard;
}

.itemTextContainer {
    grid-area: text;
    display: inline-grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: max-content;
    grid-template-areas: "L C R";
}

.itemTitle {
    color: var(--sectionTittleColor);
    font-weight: 400;
    grid-area: L;
}

.itemTextContainer::after {
    content: "X";
    color: var(--itemQuantityColor);
    font-weight: 400;
    margin-inline: 0.5ch;
    grid-area: C;
}

.itemQuantity {
    color: var(--itemQuantityColor);
    font-weight: 400;
    grid-area: R;
}

.itemImage {
    grid-area: image;
    /* width: var(--itemImageWidth); */
    width: 100%;
}

@container itemCard (min-width: 1px) {
    .itemTitle,
    .itemTextContainer::after,
    .itemQuantity {
        font-size: var(--itemTitleFontSize);
    }
}

#nearbySection {
    grid-area: nearbyArea;
}

#nearbycontentArea {
    padding-left: var(--halfContentAreaPadding);
}

.nearbyCard {
    aspect-ratio: 137.5 / 68.76;
    background-color: var(--nearbyCardBGColor);
    border-radius: var(--nearbyCardBorderRadiusHorizontal) / var(--nearbyCardBorderRadiusVertical);
    border: var(--itemCardBorderWidth) solid var(--itemCardBorderColor);
    display: inline-grid;
    grid-template-columns: 1fr max-content 1fr var(--nearbyImgWidth) var(--nearbyImgSpacer);
    grid-template-rows: max-content;
    grid-template-areas: ". text . image .";
    align-content: center;
    container-type: inline-size;
    container-name: nearbyCard;
}

.nearbyLeftGroup {
    grid-area: text;
    display: inline-grid;
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
    gap: 0.5ch;
    align-content: center;
}

.nearbyTitle {
    font-size: inherit;
    color: var(--sectionTittleColor);
    font-weight: 500;
}

.nearbyDistanceGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3ch;
}

.nearbyDistanceGroup::before {
    content: "";
    background-image: url("./img/compass.svg");
    background-size: 100%;
}

.nearbyDistance {
    font-size: inherit;
    font-weight: 400;
    color: var(--cardTypeColor);
}

.nearbyImg {
    grid-area: image;
    width: 100%;
}

@container nearbyCard (min-width: 1px) {
    .nearbyLeftGroup {
        font-size: var(--nearbyTitleFontSize);
    }

    .nearbyDistanceGroup {
        font-size: var(--nearbyDistanceFontSize);
    }

    .nearbyDistanceGroup::before {
        width: var(--nearbyDistanceIconSize);
        height: var(--nearbyDistanceIconSize);
    }
}

/* ----------------------------------------------------------------------------------------------- */

/* Aside */
/* ----------------------------------------------------------------------------------------------- */
aside {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--asideBGColor);
    z-index: 1;
}

#asideMenuContainer {
    background-color: var(--mainAreaBGColor);
    font-size: var(--asideMenuContainerFontSize);
    padding: var(--asideMenuContainerPadding);
    height: 100%;
    display: inline-grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
        ". . arrow"
        "menu . .";
}

#returnButton {
    grid-area: arrow;
    font-size: inherit;
    width: var(--returnButtonSize);
    height: var(--returnButtonSize);
    background-color: inherit;
    background-image: url("./img/arrow.svg");
    background-size: 100%;
}

#asideButtonContainer {
    font-size: inherit;
    grid-area: menu;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, max-content);
    justify-content: start;
    gap: var(--asideButtonContainerGap);
}

.asideButtons {
    font-size: inherit;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    gap: var(--asideButtonsGap);
    align-items: center;
}

.asideButtons::before {
    font-size: inherit;
    content: "";
    width: var(--asideButtonsIconSize);
    height: var(--asideButtonsIconSize);
    background-size: 100%;
}

.asideButtonLabel {
    font-size: inherit;
    color: var(--sectionTittleColor);
    font-weight: 700;
}

#asideHomeButton::before {
    background-image: url("./img/home\ mobile.svg");
}

#asideProfileButton::before {
    background-image: url("./img/profile\ mobile.svg");
}

#asideMessagesButton::before {
    background-image: url("./img/message\ mobile.svg");
}

#asideHistoryButton::before {
    background-image: url("./img/history\ mobile.svg");
}

#asideSettingsButton::before {
    background-image: url("./img/settings\ mobile.svg");
}

#asideTasksButton::before {
    background-image: url("./img/task\ mobile.svg");
}

#asideSupportButton::before {
    background-image: url("img/support\ mobile.svg");
}

#asideCommunitiesButton::before {
    background-image: url("./img/communities\ mobile.svg");
}

#asidePrivacyButton::before {
    background-image: url("./img/privacy\ mobile.svg");
}

/* ----------------------------------------------------------------------------------------------- */

/* footer */
/* ----------------------------------------------------------------------------------------------- */
footer {
    font-size: var(--githubTitleFontSize);
    padding-block: var(--githubLinkPadding);
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#githubLink {
    font-size: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
}

#githubLink::before {
    font-size: inherit;
    content: "";
    width: var(--githubLinkIconSize);
    height: var(--githubLinkIconSize);
    background-image: url("./img/github\ purple.svg");
    background-size: 100%;
}

#githubTitle {
    font-size: inherit;
    color: var(--githubTitleColor);
    font-weight: 700;
}
/* ----------------------------------------------------------------------------------------------- */

/* Breakpoint 600px = 37.5em */
/* ----------------------------------------------------------------------------------------------- */
@media (min-width: 37.5em) {
    /* Estilos globales */
    /* ----------------------------------------- */
    html {
        --contentAreaPadding: calc((100 / 600) * 100%);
        --pokemonCardBaseWidth: calc((192.5 / 16) * 1rem);
    }
    /* ----------------------------------------- */

    /* Main */
    /* ----------------------------------------- */
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr max-content 1fr max-content 1fr max-content 1fr;
        grid-template-areas:
            "."
            "pokemonArea"
            "."
            "itemArea"
            "."
            "nearbyArea"
            ".";
    }

    #pokemonContentArea,
    #itemContentArea,
    #nearbycontentArea {
        padding-inline: var(--contentAreaPadding);
    }

    .sectionTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* ----------------------------------------- */
}
/* ----------------------------------------------------------------------------------------------- */

/* Breakpoint 1024px = 64em */
/* ----------------------------------------------------------------------------------------------- */
@media (min-width: 64rem) {
    /* Estilos globales */
    /* ----------------------------------------- */
    html {
        --bottomButtonColor: white;
        --bottomButtonBGColor: #451985;
        --avatarBigContainerColor1: #270e4e;
        --avatarBigContainerColor2: #4d2a84;
        --topPanelBGColor: white;
        --topUserNameColor: #270e4e;
        --githubTitleColor: white;
        --sidePanelWidth: calc((254 / 16) * 1rem);
        --homeTitleFontSize: calc((21.21 / 16) * 1rem);
        --homeLogoSize: 49.85px;
        --homeLinkGap: calc((12 / 21.21) * 1em);
        --centerHeaderContainerGap: 24.1px;
        --searchBarWidth: 293.88px;
        --searchBarHeight: calc((21.37 / 293.88) * var(--searchBarWidth));
        --searchBarBorderRadiusHorizontal: calc((21.37 / 293.88) * var(--searchBarWidth));
        --searchBarBorderRadiusVertical: calc((21.37 / 21.37) * var(--searchBarHeight));
        --searchContainerGap: calc(var(--searchBarWidth) * (8.01 / 293.88));
        --searchBarButtonSize: calc(var(--searchBarWidth) * (18.7 / 293.88));
        --avatarDesktopContainerSize: 53.43px;
        --avatarDesktopPictureSize: calc(var(--avatarDesktopContainerSize) * (48.09 / 53.43));
        --avatarBigContainerFontSize: 13.36px;
        --userNameFontSize: calc(1em * (18.7 / 13.36));
        --leftHeaderContainerPaddingLeft: calc(1em * (9.46 / 21.21));
        --leftHeaderContainerPaddingTop: calc(1em * (38.07 / 21.21));
        --centerHeaderContainerPaddingLeft: 33px;
        --centerHeaderContainerPaddingTop: 10px;
        --menuButtonSize: calc(var(--topUserNameFontSize) * (18.7 / 10.69));
        --avatarMobileContainerSize: calc(var(--topUserNameFontSize) * (26.72 / 10.69));
        --avatarMobilePictureSize: calc(var(--avatarMobileContainerSize) * (24.04 / 26.72));
        --topUserNameFontSize: calc(1rem * (10.69 / 16));
        --mobileTopButtonsGap: calc(1em * (8 / 10.69));
        --bottomButtonFontSize: calc(1rem * (10.69 / 16));
        --bottomButtonWidth: calc(1em * (66.79 / 10.69));
        --bottomButtonHeight: calc(1em * (26.72 / 10.69));
        --bottomButtonBorderRadius: calc(1em * (26.72 / 10.69));
        --rightHeaderContainerGap: 45.46px;
        --bottomButtonGap: calc(1em * (8 / 10.69));
        --avatarBigContainerColumnGap: calc(1em * (8 / 13.36));
        --headerMinHeight: 133px;
        --asideMenuContainerPadding: 0px;
        --asideMenuContainerFontSize: calc(1rem * (17 / 16));
        --asideButtonContainerGap: calc(1em * (10 / 17));
        --asideButtonContainerPaddingTop: calc(1em * (26.06 / 17));
        --asideButtonContainerPaddingLeft: calc(1em * (36 / 17));
        --githubTitleFontSize: calc(1rem * (18 / 16));
        --githubLinkIconSize: calc(1em * (22.28 / 18));
        --githubLinkPadding: 0px;
        --githubLinkPaddingBottom: 30px;
        --footerMinHeight: 112.28px;
        --contentAreaPadding: 0px;
        --pokemonContentAreaGap: 32.5px;
        --pokemonCardBaseWidth: calc(1rem * (213.33 / 16));
        --halfContentAreasPaddingBottom: 15px;
        --columnTitlePaddingLeft: 18px;
        --sectionTitleFontSize: calc(1rem * (24 / 16));
        --sectionTitlePadding: 0px;
        --pokemonSectionTitlePaddingLeft: 60px;
        --titleAreaMinHeight: 89px;
    }

    #menuButton,
    #searchButton,
    #returnButton {
        display: none;
    }

    body {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr max-content;
        grid-template-areas:
            "header header"
            "aside main"
            "footer main";
    }
    /* ----------------------------------------- */

    /* Header */
    /* ----------------------------------------- */
    header {
        min-height: var(--headerMinHeight);
        padding: 0px;
        background-color: var(--topPanelBGColor);
        grid-template-columns: var(--sidePanelWidth) 1fr max-content;
        grid-template-rows: 1fr;
        grid-template-areas: "left center right";
    }

    #leftHeaderContainer {
        padding-left: var(--leftHeaderContainerPaddingLeft);
        padding-top: var(--leftHeaderContainerPaddingTop);
        grid-area: left;
        height: 100%;
        background-color: var(--sidePanelBGColor);
    }

    #centerHeaderContainer {
        padding-left: var(--centerHeaderContainerPaddingLeft);
        padding-top: var(--centerHeaderContainerPaddingTop);
        height: 100%;
        grid-area: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        grid-template-areas:
            "top"
            "bottom";
        row-gap: var(--centerHeaderContainerGap);
        align-content: start;
    }

    #searchContainer {
        grid-area: top;
        display: flex;
        flex-direction: row;
        gap: var(--searchContainerGap);
    }

    #searchBarButton {
        width: var(--searchBarButtonSize);
        height: var(--searchBarButtonSize);
        background-image: url("./img/search.svg");
        background-size: 100%;
        background-color: inherit;
    }

    #searchBar {
        width: var(--searchBarWidth);
        height: var(--searchBarHeight);
        background-color: var(--mainAreaBGColor);
        border-radius: var(--searchBarBorderRadiusHorizontal) / var(--searchBarBorderRadiusVertical);
    }

    #avatarBigContainer {
        font-size: var(--avatarBigContainerFontSize);
        grid-area: bottom;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(3, max-content);
        grid-template-areas:
            "avatar welcome"
            "avatar name"
            "avatar id";
        column-gap: var(--avatarBigContainerColumnGap);
    }

    #avatarDesktopContainer {
        grid-area: avatar;
        width: var(--avatarDesktopContainerSize);
        height: var(--avatarDesktopContainerSize);
        background-color: var(--sidePanelBGColor);
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #avatarDesktopPicture {
        width: var(--avatarDesktopPictureSize);
    }

    #welcomeText {
        grid-area: welcome;
        font-size: inherit;
        font-weight: 700;
        color: var(--avatarBigContainerColor1);
    }

    #userName {
        grid-area: name;
        font-size: var(--userNameFontSize);
        font-weight: 700;
        color: var(--avatarBigContainerColor1);
    }

    #userID {
        color: var(--avatarBigContainerColor2);
        grid-area: id;
        font-size: inherit;
        font-weight: 500;
    }

    #rightHeaderContainer {
        padding-top: var(--centerHeaderContainerPaddingTop);
        padding-right: var(--centerHeaderContainerPaddingLeft);
        grid-area: right;
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: var(--rightHeaderContainerGap);
    }

    #mobileTopButtons {
        font-size: var(--topUserNameFontSize);
        align-items: center;
        justify-content: flex-end;
    }

    #avatarMobileContainer {
        width: var(--avatarMobileContainerSize);
        height: var(--avatarMobileContainerSize);
        background-color: var(--sidePanelBGColor);
    }

    #topUserName {
        color: var(--topUserNameColor);
        display: block;
        font-size: inherit;
        font-weight: 700;
    }

    #bottomButtonsContainer {
        font-size: var(--bottomButtonFontSize);
        display: flex;
        flex-direction: row;
        column-gap: var(--bottomButtonGap);
    }

    .bottomButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--bottomButtonWidth);
        height: var(--bottomButtonHeight);
        border-radius: var(--bottomButtonBorderRadius);
        font-size: inherit;
        font-weight: 700;
        color: var(--bottomButtonColor);
        background-color: var(--bottomButtonBGColor);
    }
    /* ----------------------------------------- */

    /* Aside */
    /* ----------------------------------------- */
    #asideMenu {
        position: static;
        display: grid;
    }

    #asideMenuContainer {
        display: block;
        background-color: var(--sidePanelBGColor);
    }

    #asideButtonContainer {
        width: var(--sidePanelWidth);
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, max-content) 1fr repeat(3, max-content);
        grid-template-areas:
            "Home"
            "Profile"
            "Messages"
            "History"
            "Tasks"
            "Communities"
            "."
            "Settings"
            "Support"
            "Privacy";
        padding-top: var(--asideButtonContainerPaddingTop);
        padding-left: var(--asideButtonContainerPaddingLeft);
    }

    #asideHomeButton {
        grid-area: Home;
    }

    #asideHomeButton::before {
        background-image: url("./img/home.svg");
    }

    #asideProfileButton {
        grid-area: Profile;
    }

    #asideProfileButton::before {
        background-image: url("./img/profile.svg");
    }

    #asideMessagesButton {
        grid-area: Messages;
    }

    #asideMessagesButton::before {
        background-image: url("./img/message.svg");
    }

    #asideHistoryButton {
        grid-area: History;
    }

    #asideHistoryButton::before {
        background-image: url("./img/history.svg");
    }

    #asideSettingsButton {
        grid-area: Settings;
    }

    #asideSettingsButton::before {
        background-image: url("./img/settings.svg");
    }

    #asideTasksButton {
        grid-area: Tasks;
    }

    #asideTasksButton::before {
        background-image: url("./img/task.svg");
    }

    #asideSupportButton {
        grid-area: Support;
    }

    #asideSupportButton::before {
        background-image: url("./img/support.svg");
    }

    #asideCommunitiesButton {
        grid-area: Communities;
    }

    #asideCommunitiesButton::before {
        background-image: url("./img/communities.svg");
    }

    #asidePrivacyButton {
        grid-area: Privacy;
    }

    #asidePrivacyButton::before {
        background-image: url("./img/privacy.svg");
    }

    .asideButtonLabel {
        color: white;
    }
    /* ----------------------------------------- */

    /* Footer */
    /* ----------------------------------------- */
    footer {
        display: grid;
        background-color: var(--sidePanelBGColor);
        min-height: var(--footerMinHeight);
        grid-template-columns: max-content;
        grid-template-rows: 1fr max-content var(--githubLinkPaddingBottom);
        grid-template-areas:
            "."
            "github"
            ".";
        justify-content: center;
    }

    #githubLink {
        grid-area: github;
        display: block;
        position: relative;
    }

    #githubLink::before {
        position: absolute;
        transform: translateX(calc(-100% - 1ch));
        background-image: url("./img/github.svg");
    }
    /* ----------------------------------------- */

    /* Estilar main */
    /* ----------------------------------------- */
    main {
        grid-template-columns: 1fr max-content;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "pokemonArea itemArea"
            "pokemonArea nearbyArea";
    }

    .mainSections {
        grid-template-rows: 1fr max-content;
    }

    #itemContentArea,
    #nearbycontentArea {
        padding: 0px;
        padding-right: var(--pokemonContentAreaGap);
        padding-bottom: var(--halfContentAreasPaddingBottom);
        grid-template-columns: var(--pokemonCardBaseWidth);
    }

    .columnTitle {
        padding-top: 0px;
        padding-left: var(--columnTitlePaddingLeft);
        justify-content: flex-start;
        column-gap: 0.5ch;
    }

    .containerQ {
        display: flex;
        align-items: center;
    }

    #pokemonContentArea {
        padding: var(--pokemonContentAreaGap);
    }

    .titleArea {
        min-height: var(--titleAreaMinHeight);
    }

    #pokemonSection > .titleArea {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
    }

    #pokemonSectionTitle {
        padding-left: var(--pokemonSectionTitlePaddingLeft);
    }
    /* ----------------------------------------- */
}
/* ----------------------------------------------------------------------------------------------- */
